:root {
  --palette-color-main: #10363a;
  --palette-color-accent: #e20a37;
  --palette-color-accent-soft: #5c4c4f;
  --palette-color-contrast: #eeeeed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--palette-color-contrast);
  background-color: rgb(46, 46, 46);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formContainer {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	border-radius: 10px;
	padding: .75rem;
  background-color: var(--palette-color-main);
}

.formTitle {
  text-align: center;
}

.switchButton, .submitContainer {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.submitContainer {
  margin-top: 2rem;
  text-align: center;
}

.switchButton, .submitButton {
  color: var(--palette-color-contrast);
  background-color: var(--palette-color-accent);
  border-radius: 1rem;
  border-style: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

.switchButton:hover, .submitButton:hover {
  color: var(--palette-color-contrast);
  background-color: #ac1231;
}

#conversion-form {
  padding: 2rem 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
}

.startUnitDiv, .ingredientDiv, .endUnitDiv {
  margin-top: 1rem;
  position: relative;
}

input {
  color: var(--palette-color-contrast);
  border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid var(--palette-color-contrast);
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
  width: 100%;
  transition: .25s ease;
}

input:focus {
	outline: 0;
	border-bottom-color: var(--palette-color-accent);
}


.unitDropdown {
  font-size: 1.125rem;
	padding: .25rem 0;
  width: 100%;
  border-bottom: 2px solid var(--palette-color-contrast);
  margin-top: 0rem;
  margin-bottom: 0rem;
  cursor: pointer;
  transition: .25s ease;
}

.unitDropdown:focus {
  border-bottom-color: var(--palette-color-accent);
}

.unitDropdown:focus ~ .dropdownArrow {
  color: var(--palette-color-accent);
}

.dropdownArrow {
  position: absolute;
  right: 5%;
  bottom: 5%;
  pointer-events: none;
}


.ingredientDropdown, .unitDropdownList {
  position: absolute;
  list-style: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 1rem;
  background-color: var(--palette-color-accent-soft);
  z-index: 2;
  cursor: pointer;
}

.unitItem:hover, .ingredientItem:hover {
  background-color: var(--palette-color-accent);
}

.hiddenElement {
  display: none;
}

.errorAlert {
  text-align: center;
}