:root {
  --palette-color-main: #10363a;
  --palette-color-accent: #e20a37;
  --palette-color-accent-soft: #5c4c4f;
  --palette-color-contrast: #eeeeed;

  --bottom-border-standard: 2px solid var(--palette-color-contrast);
  --bottom-border-list: 0.1rem solid #1d1b1b;
}

html {
  /* Without this property in html, firefox will still show a scrollbar */
  scrollbar-width: none;  /* Firefox */
}

body {
  margin: 0;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--palette-color-contrast);
  background-color: #0F1526;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formContainer {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;

  /* Causing off-centering for responsiveness, leaving off for now */
	/* width: 100%; */

	max-width: 26.5rem;
	border-radius: 0.6rem;
	padding: .75rem;
  background-color: var(--palette-color-main);
}

.formTitle,
#conversion-form label,
.switchButton,
.submitButton,
.startUnitDiv p,
.startUnitDiv li,
.endUnitDiv p,
.endUnitDiv li
{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.formTitle {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  text-align: center;
}

.switchButton, .submitContainer {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.submitContainer {
  margin-top: 2rem;
  text-align: center;
}

.switchButton, .submitButton {
  color: var(--palette-color-contrast);
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  background-color: var(--palette-color-accent);
  border-radius: 1rem;
  border-style: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  transition: .25s ease;
  -webkit-tap-highlight-color: transparent;
}

.switchButton:hover, .submitButton:hover {
  color: var(--palette-color-contrast);
  background-color: #ac1231;
}

.bounceClick {
  animation: bounce 300ms ease-in-out forwards;
}

#conversion-form {
  padding: 2rem 1rem 1rem;

  /* This seems to cause text blurring on startUnit list on mobile sizes */
  margin-left: auto;
  margin-right: auto;
}

#conversion-form label {
  font-weight: 600;
}

.startUnitDiv, .ingredientDiv, .endUnitDiv {
  margin-top: 1rem;
  position: relative;
}

input {
  color: var(--palette-color-contrast);
  border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: var(--bottom-border-standard);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
  width: 100%;
  transition: .25s ease;
}

input:focus {
	outline: 0;
	border-bottom-color: var(--palette-color-accent);
  background-color: #0b2022;
}


.unitDropdown {
  font-size: 1.125rem;
	padding: .25rem 0;
  width: 100%;
  border-bottom: var(--bottom-border-standard);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  cursor: pointer;
  transition: .25s ease;
  -webkit-tap-highlight-color: transparent;
}

.unitDropdown:hover {
  background-color: #0b2022;
}

/* .unitDropdown:focus {
  border-bottom-color: var(--palette-color-accent);
  transform: translateY(-0.2rem);
} */

.clickedButton {
  border-bottom-color: var(--palette-color-accent);
  transform: translateY(-0.2rem);
}

.clickedButton ~ .dropdownArrow {
  color: var(--palette-color-accent);
}

.dropdownArrow {
  position: absolute;
  right: 5%;
  bottom: 5%;
  pointer-events: none;
  transition: .25s ease;
}

.backfaceProp {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}


.ingredientDropdown, .unitDropdownList {
  position: absolute;
  max-height: 43vh;
  overflow-y: scroll;
  overflow-x: hidden;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */

  /* Firefox had z-index issues during animation with below property, so its commented out
  but the below commented out property makes the scrollbar invisible for firefox */
  /* scrollbar-width: none; */
  
  list-style: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 1rem;
  background-color: var(--palette-color-accent-soft);
  z-index: 2;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  
  transform-origin: top center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.ingredientDropdown::-webkit-scrollbar, .unitDropdownList::-webkit-scrollbar {
  display: none;
}

.animationDrop {
  animation: growDown 300ms ease-in-out forwards;
}


.unitDropdownList li, .ingredientDropdown li {
  border-bottom: var(--bottom-border-list);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.unitDropdownList li:last-child, .ingredientDropdown li:last-child {
  border-bottom: none;

  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.unitDropdownList li:first-child, .ingredientDropdown li:first-child {

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.unitItem:hover, .ingredientItem:hover {
  background-color: var(--palette-color-accent);
}

.resultContainer {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}

.resultSuccess {
  padding-top: 1rem;
  padding-bottom: 1rem;
  transform-origin: top center;
  display: flex;
  justify-content: center;
  background-color: #0b2022;
  animation: messageBackgroundAppear 200ms ease-in-out 0ms forwards;
  overflow: hidden;
}

.msgSwitch {
  animation: messageSwitchBounce 1000ms ease-in-out 0ms forwards;
}

.msgAnim1, .msgAnim2, .msgAnim3, .msgAnim4, .msgAnim5 {
  transform: perspective(0px) scale(0);
}

.msgAnim1 {
  animation: messageAppear 300ms ease-in-out 100ms forwards;
}

.msgAnim2 {
  animation: messageAppear 300ms ease-in-out 200ms forwards;
}

.msgAnim3 {
  animation: messageAppear 300ms ease-in-out 300ms forwards;
}

.msgAnim4 {
  animation: messageAppear 300ms ease-in-out 400ms forwards;
}

.msgAnim5 {
  animation: messageAppear 300ms ease-in-out 500ms forwards;
}

.conversionMessage h1, .conversionMessage h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hiddenElement {
  display: none;
}

.errorAlert {
  text-align: center;
}


/* Animations */


@keyframes fadeIn {
  from {
    max-height: 0vh;
    transform: translateY(0rem);
  }

  to {
    max-height: 43vh;
    transform: translateY(0.3rem);
  }
}


@keyframes growDown {
    0% {
        transform: perspective(0px) scaleY(0)
    }
    80% {
        transform: perspective(0px) scaleY(1.1)
    }
    100% {
        transform: perspective(0px) scaleY(1)
    }
}


@keyframes bounce {
  0% {
      transform: perspective(0px) scale(1)
  }
  5% {
      transform: perspective(0px) scale(0.7)
  }
  10% {
      transform: perspective(0px) scale(1.1)
  }
  50% {
      transform: perspective(0px) scale(0.9)
  }
  100% {
      transform: perspective(0px) scale(1)
  }
}

@keyframes messageAppear {
  0% {
      transform: perspective(0px) scale(0)
  }
  20% {
      transform: perspective(0px) scale(1.1)
  }
  40% {
      transform: perspective(0px) scale(0.8)
  }
  70% {
      transform: perspective(0px) scale(1.05)
  }
  100% {
      transform: perspective(0px) scale(1)
  }
}

@keyframes messageBackgroundAppear {
  0% {
      transform: perspective(0px) scaleY(0)
  }
  100% {
      transform: perspective(0px) scaleY(1)
  }
}

@keyframes messageSwitchBounce {
  0% {
    padding-bottom: 0.5rem;
  }
  5% {
    padding-bottom: 1.2rem;
  }
  10% {
    padding-bottom: 0.8rem;
  }
  50% {
    padding-bottom: 1.1rem;
  }
  100% {
    padding-bottom: 1rem;
  }
}


/* Media Queries */


@media (pointer: coarse)  {
	/* mobile device */

  /* Turning off border radiuses for lists mobile, otherwise causes thinner bottom borders */
  .unitDropdownList li:last-child,
  .ingredientDropdown li:last-child,
  .unitDropdownList li:first-child,
  .ingredientDropdown li:first-child {
    border-radius: 0;
  }

  /* Prevents switch and submit buttons being stuck on darker color after being pressed on mobile */
  .switchButton:hover, .submitButton:hover {
    background-color: var(--palette-color-accent);
  }

  /* Makes buttons briefly flash a darker red when clicked/pressed on mobile */
  .switchButton:active, .submitButton:active {
    background-color: #ac1231;
  }
}

@media screen and (max-width: 448px) {

  /* Sets form container to have width extend to end of screen rather than showing rounded corners */
  .formContainer {
    border-radius: 0;
  }
}

@media screen and (max-width: 306px) {
  
  /* Sets text inside of switch button to stay on one line rather than multiple when on smaller screen sizes */
  .switchButton {
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  }
}

@media screen and (max-width: 281px) {
  
  /* Sets text inside of switch button to stay on one line rather than multiple when on smaller screen sizes */
  .switchButton {
    padding: 0.5rem 0.3rem 0.5rem 0.3rem;
  }
}

@media screen and (max-height: 830px) {
  /* Sets dropdown list to a smaller height so it isnt off screen at smaller screen heights */
  .unitDropdownList {
    max-height: 40vh;
  }
}

@media screen and (max-height: 800px) {
  /* Sets dropdown list to a smaller height so it isnt off screen at smaller screen heights */
  .unitDropdownList {
    max-height: 36vh;
  }
}

@media screen and (max-height: 750px) {
  /* Sets dropdown list to a smaller height so it isnt off screen at smaller screen heights */
  .unitDropdownList {
    max-height: 33vh;
  }
  .ingredientDropdown {
    max-height: 38vh;
  }
}

@media screen and (max-height: 700px) {
  /* Sets dropdown list to a smaller height so it isnt off screen at smaller screen heights */
  .unitDropdownList {
    max-height: 30vh;
  }
  .ingredientDropdown {
    max-height: 35vh;
  }
}

@media screen and (max-height: 670px) {
  /* Sets dropdown list to a smaller height so it isnt off screen at smaller screen heights */
  .unitDropdownList {
    max-height: 28vh;
  }
}

@media screen and (max-height: 650px) {
  /* Sets dropdown list to a smaller height so it isnt off screen at smaller screen heights */
  .unitDropdownList {
    max-height: 25vh;
  }
}

@media screen and (max-height: 624px) {
  /* Sets dropdown list to a smaller height so it isnt off screen at smaller screen heights */
  .unitDropdownList {
    max-height: 22vh;
  }
}

@media screen and (max-height: 610px) {
  /* Sets dropdown list to a smaller height so it isnt off screen at smaller screen heights */
  .ingredientDropdown {
    max-height: 32vh;
  }
}

@media screen and (max-height: 600px) {
  /* Sets dropdown list to a smaller height so it isnt off screen at smaller screen heights */
  .unitDropdownList {
    max-height: 19vh;
  }
  .ingredientDropdown {
    max-height: 28vh;
  }
}